[bumpversion]
current_version = {{ cookiecutter.version }}
commit = True
tag = True

[bumpversion:file:docs/conf.py]
search = version = release = '{current_version}'
replace = version = release = '{new_version}'

[bumpversion:file:{{ cookiecutter.namespace }}/{{ cookiecutter.package_name }}/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'
