pip==20.1
bump2version==0.5.11
wheel==0.33.6
watchdog==0.10.1
flake8==3.7.9
tox==3.15.0
coverage==5.0.1
Sphinx==2.3.1
twine==3.1.1
pep517==0.8.1
{% if cookiecutter.command_line_interface|lower == 'click' -%}
click==7.0{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==5.3.5
pytest-runner==5.1{% endif %}

