pip
bump2version
wheel
watchdog==2.2.1
flake8
tox==4.1.2
coverage
Sphinx
furo
twine
pep517
{% if cookiecutter.command_line_interface|lower == 'click' -%}
click{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==7.2.0
pytest-runner{% endif %}
{% if cookiecutter.use_black == 'y' -%}
black{% endif %}
