cruft==2.12.0
{% if cookiecutter.command_line_interface|lower == 'typer' -%}
typer{% endif %}
{% if cookiecutter.command_line_interface|lower == 'click' -%}
click{% endif %}
pre-commit==3.1.0
bump2version==1.0.1
flake8==6.0.0
{% if cookiecutter.use_black == 'y' -%}
black==23.1.0
isort{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==7.2.1
pytest-runner==6.0.0
pytest-cookies==0.6.1
{% endif %}
coverage==7.2.1
tox==4.4.6
furo==2022.12.7
twine==4.0.2
pep517==0.13.0
